:root {
  background: #0d1926;
}

html,
body {
  background: #0d1926;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  background: #0d1926;
}

.app-no-select {
  user-select: none;
}

.message {
  flex-shrink: 0;
  user-select: text;
}

.message:not(:last-child) {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.message:first-child {
  padding-top: 20px;
}

pre {
  text-wrap: pretty;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
